<div id="layout">
  <!-- Header-->


  <!-- End Header-->


  <div class="section-title" style="background:url(assets/img/champ_arabe/remiseenforme.JPG); height: 400px">
  </div>
  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4 style="font-size: 30px">REMISE EN FORME</h4>
        </div>

        <div class="info-panel">
          <div class="row">
            <div class="col-md-12">


              <p style="font-size: 15px"><strong>Peu importe l’âge, la situation et la condition physique,
                l’activité de remise en forme est toujours une alternative idéale pour l’adhérent de s’occuper de son
                corps</strong></p>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-4">
              <img class="img-responsive" src="assets/img/workers/remise.JPG" alt="">
            </div>
            <div class="col-md-8">
              <p style="font-size: 15px"><strong>Les bienfaits de remise en forme sont multiples :</strong></p>
              <ul style="list-style-type: disc;">
                <li style="font-size: 15px"> D’abord ça concerne les bienfaits sur la santé. En effet, cette activité procure des avantages
                  comme
                  la prévention des maladies, le mauvais cholestérol(Cholestérol-LDL), l’hypertension artérielle et le
                  diabète. Elle renforce le système immunitaire de l’individu et évacue les toxines par la transpiration
                  et la respiration.
                </li>
                <li style="font-size: 15px">Ensuite, la remise en forme est une assistance précieuse pendant le programme de perte de poids. En
                  effet, un régime tout seul n’est pas toujours suffisant pour perdre du poids ou du moins pour le
                  maintenir.de ce fait, il est primordial d’allier une alimentation saine et équilibrée à un programme
                  de
                  remise en forme permettent de brûler beaucoup de calories. Ils favorisent la diminution de la graisse
                  corporelle.
                </li>
                <li style="font-size: 15px"> Enfin, cette activité permet une meilleure remise en forme positive pour le mental, c’est-à-dire
                  faire
                  du sport, c’est bienveillant pour le moral. Ça permet de lutter de manière générale contre la fatigue
                  physique. En plus, la concentration s’améliore. Les exercices interviennent aussi sur la confiance en
                  soi et sur le sommeil.

                  <p><strong>Pratiquer une activité sportive est la solution idéale pour toutes les femmes
                    souffrant d’insomnie ou de tout autre trouble lié au sommeil.
                  </strong></p>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <!-- End Content Text-->

    </div>
  </section>
</div>
