<div id="layout">
  <!-- Header-->


  <!-- End Header-->
  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4 style="font-size: 30px">MARCHE</h4>
        </div>

        <div class="info-panel">
          <div class="row">
            <div class="col-md-12">
              <p style="font-size: 15px; color: #d52f37"><strong>Prière de prendre connaissance de toutes les
                informations se trouvant dans cette page afin de
                procéder à votre adhésion.</strong></p>
            </div>
          </div>
          <div class="row padding-top-mini">
            <div class="row">
              <div class="col-md-12">
                <p style="font-size: 15px"><strong>Les activités pour la saison 2019 – 2020 en Dinars
                  Tunisien</strong>
                </p>
                <ul style="font-size: 15px;">
                  <ul>
                    <li style="font-size: 15px;"><strong><u>Option Athlé-santé</u></strong></li>
                    <ol>
                      <li style="font-size: 15px;">Marche</li>
                      <li style="font-size: 15px;">Remise en Forme (Entretien Corporel, Yoga, Stretching)</li>
                      <li style="font-size: 15px;">Condition Physique</li>
                    </ol>
                    <li style="font-size: 15px;"><strong><u>Option Athlé-running</u></strong></li>
                    <ol>
                      <li style="font-size: 15px;">Running</li>
                    </ol>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
          <div class="row padding-top-mini">
            <div class="row">
              <div class="col-md-12">
                <p style="font-size: 15px;"><strong>Les tarifs pour la saison 2019 – 2020</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="row padding-top-mini">
            <table class="table" width=60% border=1>
              <tbody>
              <TR class="text-center">
                <TD style="color: #d52f37" colspan=3><strong>OPTION 1 / deux séances par semaine</strong></TD>
              </TR>
              <TR>
                <TD width=20% colspan=1 style="color: #d52f37">ACTIVITES</TD>
                <TD width=20% colspan=1 style="color: #d52f37">OPTION ATHLE-SANTE</TD>
                <TD width=20% colspan=1 style="color: #d52f37">OPTION ATHLE-RUNNING</TD>
              </TR>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>PERSONNE</span>
                </td>
                <td>40 dinars</td>
                <td>50 dinars</td>
              </tr>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>TARIF COUPLE</span>
                </td>
                <td>60 dinars</td>
                <td>80 dinars</td>
              </tr>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>TARIF FAMILIALE</span>
                </td>
                <td>80 dinars</td>
                <td>100 dinars</td>
              </tr>
              <TR class="text-center">
                <TD style="color: #d52f37" class="text-center" colspan=3><strong>OPTION 2 : trois séances par
                  semaine</strong></TD>
              </TR>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>PERSONNE</span>
                </td>
                <td>50 dinars</td>
                <td>60 dinars</td>
              </tr>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>TARIF COUPLE</span>
                </td>
                <td>70 dinars</td>
                <td>90 dinars</td>
              </tr>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>TARIF FAMILIALE</span>
                </td>
                <td>90 dinars</td>
                <td>110 dinars</td>
              </tr>
              <TR class="text-center">
                <TD style="color: #d52f37" colspan=3><strong>OPTION 3 : quatre séances et plus par semaine</strong></TD>
              </TR>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>PERSONNE</span>
                </td>
                <td>60 dinars</td>
                <td>70 dinars</td>
              </tr>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>TARIF COUPLE</span>
                </td>
                <td>80 dinars</td>
                <td>100 dinars</td>
              </tr>
              <tr>
                <td>
                  <p style="color: #d52f37"><span>TARIF FAMILIALE</span>
                </td>
                <td>100 dinars</td>
                <td>120 dinars</td>
              </tr>
              </tbody>
            </table>

          </div>
          <div class="row padding-top-mini">
            <div class="col-md-12">
              <p style="font-size: 15px; color: #d52f37"><strong>L’adhérent après affirmation de son choix, il peut choisir le
                mode paiement qui lui convient ;</strong></p>
              <ul>
                <li>
                  Mensuel (Individuel, en couple ou familiale « couples avec deux enfants moins de 16 ans »).
                </li>
                <li>
                  Trimestriel (Individuel, en couple ou familiale « couples avec deux enfants moins de 16 ans »).
                </li>
                <li>
                  Annuel (Individuel, en couple ou familiale « couples avec deux enfants moins de 16 ans »).
                </li>
              </ul>
              <p style="font-size: 15px; color: #d52f37"><strong>Le paiement peut être effectué :</strong></p>
              <ul>
                <li>
                  Par virement bancaire ou postal
                </li>
                <li>
                  Par mandat postal
                </li>
                <li>
                  Par paiement en ligne..
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <!-- End Content Text-->
    </div>
  </section>
</div>

