<div id="layout">
  <!-- Header-->


  <!-- End Header-->
  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4 style="font-size: 30px">CONSEILS</h4>
        </div>

        <div class="info-panel">
          <div class="row">
            <div class="col-md-12">


              <p style="font-size: 15px"><strong>Il est fondamental que l’activité physique pratiquéesatisfait l’adhérent. </strong>
              </p>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-4">
              <img class="img-responsive" src="assets/img/workers/Conseils.JPG" style="width: 700px">
            </div>
            <div class="col-md-8">
              <ul style="list-style-type: disc;"><p style="font-size: 15px"><strong>
                Pour être un facteur de bonne santé, ceci remplir trois conditions indispensables :
              </strong>
              </p>
                <ul>
                  <li style="font-size: 15px">
                    <strong>modérée</strong> : c’est-à-dire que l’intensité de l’activité doit être équivalente à la marche rapide. A
                    titre d’exemple l’intensité se situe entre 50 et 70 % de la Fréquence Cardiaque Maximale qui se
                    détermine entre 18 et 60 ans : FC max. = (220 – votre âge) et au-delà de 60 ans, on prend 210 –
                    (0,65 x votre âge).
                  </li><br>
                  <li style="font-size: 15px">
                    <strong>régulière</strong> : sauf avis médical contraire, il est recommandé à tous de pratiquer une activité
                    physique pendant 30 minutes au moins trois fois par semaine et au mieux chaque jour. Pourquoi tous
                    les jours ? Car c’est la régularitéde l’activité physique qui est bénéfique pour la santé.
                    L’effet de 3 heures et demi d’activités physiques réalisées en une fois, le dimanche par exemple,
                    est moins bénéfique que celui de 30 minutes par jour, 5 ou 7 fois par semaine.
                  </li><br>
                  <li style="font-size: 15px">
                    <strong>adaptée</strong> : intensité et distance doivent être dosées et la tolérance de l’adhérent évaluée en
                    surveillant le pouls et l’apparition de signes d’essoufflement. Il faut savoir que la vitesse
                    d’exécution et l’endurance diminuent avec l’âge, c’est pourquoi le programme doit être individualisé
                    et adapté.
                  </li>
                </ul>
              </ul>
            </div>
          </div>
          <div class="row padding-top-mini">
            <div class="col-md-12">
              <p style="font-size: 15px"><span style="font-family: Calibri, sans-serif; font-size: 18px;"><strong>Les étapes indispensables au cours des séances d’activité physique :</strong></span>
              </p>
              <ul>
                <li style="line-height: 1.5; font-size: 15px"><p style="font-size: 15px"><strong>L’échauffement</strong></p>
                  L’échauffement, qui aux yeux de certains peut paraître contraignant et fastidieux, constitue pourtant
                  une étape incontournable de la pratique sportive.Environ d’une dizaine de minutes, il est composé
                  d’exercices physiques divers, le footing, la marche ou le pédalage. Ilpermet au corps, de passer de
                  l’état de repos à l’état de travail, et ceci dans des conditions optimales sans aucunrisque pour le
                  corps. Il faut partir en allure douce et augmenter la cadence de déplacement jusqu’au rythme
                  decroisière. A la fin de ces dix minutes d’échauffement l’adhérent doit être prêt, le risque de
                  blessure et de malaisecardiaque sera diminué. L’échauffement a alors un rôle de transition et permet
                  de se concentrer psychologiquement uniquement sur l’activité physique.
                </li><br>
                <li style="line-height: 1.5; font-size: 15px"><p style="font-size: 15px"><strong>Les étirements</strong></p>
                  Les étirements apportent de nombreux bienfaits, qu’ils soient réalisés en début de séance ou à la fin.
                  Aprèsl’échauffement et toujours sans douleur, vous devez faire des étirements lents en soufflant, sans
                  mouvement deressort, pendant 30 secondes avec 30 secondes de relâchement, le tout sur une durée
                  minimale de 5 minutes.

                </li><br>
                <li style=" font-size: 15px;line-height: 1.5;"><p style="font-size: 15px"><strong>La récupération</strong></p>
                  Pour mieux récupérer : le retour au calme. La phase de récupération doit être envisagée avec autant de
                  sérieux que la phase d’entraînement. Un retour au calme bien effectué permet de mieux éliminer les
                  toxines produits parl’organisme et limite ainsi la fatigue musculaire. Pour bien récupérer, il
                  convient de :
                  • Ralentir son rythme cardiaque (footing de récupération, étirements/relaxation), faire un état des
                  lieux des dommages (vérifier qu’il n’y a pas de bobos apparaissant avec le relâchement musculaire).
                  • Rendre aux muscles leurs longueurs initiales après les contractions accumulées au cours de la
                  séance.Après un effort sportif, il s’agit d’une part de reconstituer les réserves énergétiques et
                  d’autre part d’éliminer les produits de la dégradation métabolique.

                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>

      <!-- End Content Text-->

    </div>
  </section>
</div>
