<div id="layout">
  <!-- Header-->


  <!-- End Header-->


  <div class="section-title" style="background:url(assets/img/players/marche2.JPG); height: 500px">
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="color: white;font-style: italic; font-size: 40px">15 minutes de marche par jour peuvent changer votre vie</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4 style="font-size: 40px"><strong>MARCHE</strong></h4>
        </div>

        <div class="info-panel">
          <div class="row">
            <div class="col-md-12">


              <p style="font-size: 15px"><strong>Pratiquée tous les jours, la marche est un sport qui fait
                travailler
                l'ensemble des muscles du corps.<br>
                A raison de quelques minutes quotidiennement, la marche est une activité sportive douce que tout le
                monde
                peut pratiquer sans aucun risque.<br>
                Qu'elle soit lente, active ou rapide, la marche convient à tout type de personne voulantentretenir sa
                performance physiqueet mentale.</strong></p>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-12">
              <p style="font-size: 15px"><strong>L'avantage de la marche réside dans le fait que c'est un sport sans aucune contrainte:</strong>
              </p>
              <ul>
                <li style="font-size: 15px">L'avantage de la marche réside dans le fait que c'est un sport sans aucune contrainte:
                  elle peut être
                  pratiquée n'importe où, à la campagne comme en ville, à n'importe quel moment de la journée, et à
                  n'importe quelle saison de l'année, été comme hiver.

                </li>
                <li style="font-size: 15px">Un autre avantage de la marche est que c'est une activité qui protège les articulations : évite
                  les
                  traumatismes pour les chevilles ou les genoux.
                  De ce fait, elle est accessible à tous, les personnes en surpoids, sédentaires, les personnes
                  âgées...

                </li>
                <li style="font-size: 15px">La marche procure également une détente psychologique : aération de l'esprit, évacuation du stress
                  et
                  des tensions du quotidien, ses bienfaits sont multiples.
                  Enfin, la marche active le transit intestinal, ce qui permet de purifier l'organisme.

                </li>

                <li style="font-size: 15px">Autre bienfait de la marche : l'amélioration du rythme cardiaque.
                  C'est une activité cardio qui permet
                  de réduire les risques de maladie cardiaque et d'accident vasculaire cérébral.

                  Elle contribue à diminuer
                  la tension artérielle, fait baisser le taux de mauvais cholestérol (Cholestérol-LDL), aide à
                  prévenir
                  l'ostéoporose et enfin, soulage le mal de dos.

                </li>
                <li style="font-size: 15px">La marche améliore bien sûr la fonction respiratoire et l'amplitude pulmonaire. Plus on marche, et
                  plus on marche longtemps, c'est une question d'entraînement.
                  La marche permet de dépenser jusqu’à 400
                  calories par heure ainsi que 80% des chaines musculaires sont affectées.

                </li>
              </ul>
            </div>
          </div>


        </div>

      </div>
      <!-- End Content Text-->
    </div>
  </section>
</div>

