<div id="layout" style="background:url(assets/img/champ_arabe/running.JPG);">
  <!-- Header-->


  <!-- End Header-->


 <!-- <div <class="section-title" style="background:url(assets/img/champ_arabe/running.JPG); height: 700px">
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>RUNNING</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>!-->
  <!-- Section Area - Content Central -->
  <section class="content-info" style="background:url(assets/img/champ_arabe/running.JPG);">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4 style="font-size: 30px">RUNNING</h4>
        </div>

        <div class="info-panel">
          <div class="row">
            <div class="col-md-12">


              <p style="font-size: 15px"><strong>Le running est une pratique en rapport avec la course à pied, accompagnée d'objectifs propres à
                cette discipline.</strong>
              </p>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-4">
              <img class="img-responsive" src="assets/img/champ_arabe/unnamed.jpg" alt="">
            </div>
            <div class="col-md-8">
              <ul style="list-style-type: disc;" style="font-size: 15px">
                Il s'inscrit dans le culte de la performance : courir plus longtemps ou plus vite par exemple.<br> Pour les
                runneurs, qui l'exercent de façon régulière voire intensive,
                il se différencie du joggingqui reste une activitédu dimanche, occasionnelle, pour éliminer les excès ou
                prendre l'air.<br>
                Le Running connaît un engouement récent et devient une tendance lourde dessports individuels, avec une
                croissance régulière du nombre d'adeptes.<br>
                Du fait de sa forme plus intense que le jogging, beaucoup d'outils sont apparus avec le running, mais
                aussi des structures et des équipements spécialisés qui permettent aux runneurs de compléter leur
                progression athlétique, aux nombres desquels figurent les courses et les rassemblements en tous lieux.<br>
                Les séances du running s’adressent à toutes les personnes qui souhaitent reprendre la course à pied, qui
                ne désirent plus courir seules ou qui veulent préparer une course dans les meilleures conditions.
                L’objectif est de leur proposer un accompagnement ainsi qu’un suivi sur mesure orienté sur un pratique
                bien-être et non compétitive.<br>
                Les séances sont constituées d’ateliers très spécifiques, à l’apprentissage des fondamentaux
                (échauffement, étirement, travail technique et récupération). <br>Tout ceci se réalise dans le cadre des
                entrainements par groupes de niveaux avec des plans d’activités adaptés à tous les niveaux.

              </ul>
            </div>
          </div>
        </div>

      </div>

      <!-- End Content Text-->

    </div>
  </section>
</div>
