<div id="layout">
  <!-- Header-->


  <!-- End Header-->


  <div class="section-title" style="background:url(assets/img/champ_arabe/conditionphysique.jpg); height: 600px">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>CONDITION PHYSIQUE</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4 style="font-size: 30px">CONDITION PHYSIQUE</h4>
        </div>

        <div class="info-panel">
          <div class="row">
            <div class="col-md-12">


              <p style="font-size: 15px"><strong>L’activité physique permet d’accroitre les performances de l’adhérent comme la souplesse,
                renforcement
                des muscles, etc...).
                Elle améliore donc l’endurance et la capacité à résister à la fatigue, la force et la forme.</strong>
              </p>
            </div>
          </div>

          <div class="row padding-top-mini">
            <div class="col-md-4">
              <img class="img-responsive" src="assets/img/workers/Cd.JPG" width="400px">
            </div>
            <div class="col-md-8">
              <ul style="list-style-type: disc;">
                <li style="font-size: 15px">
                  Cette activité permet le maintien et le développement de la condition physique de l’adhérent et
                  mettant en exergue de manière manifeste les bienfaits de cette activité.
                  Cette dernière est principalement basée sur lapréparation physique généraleen adoptant les différends
                  techniques de l’athlétisme (course, bondissements, sprint, renforcement musculaire avec charge, etc…)
                  que se dérouleront aux cours des séances de condition physique, des circuits training, exercices de
                  renforts variés et une véritable alternative à la salle de musculation adaptées à tous les niveaux.
                </li><br>
                <li style="font-size: 15px">Les contenues des séances et la bonne planification permet de renforcer la masse musculaire de façon
                  harmonieuse avec une dépense énergétique importante et surtout affiner la silhouette de l’adhérent.
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <!-- End Content Text-->

    </div>
  </section>
</div>
