<div id="layout">
  <!-- Header-->


  <!-- End Header-->

  <!-- Section Area - Content Central -->
  <section class="content-info">

    <div class="container paddings-mini">
      <!-- Content Text-->
      <div class="panel-box padding-b">
        <div class="titles">
          <h4 STYLE="color: #d52f37;font-size: 30px">Paiement en ligne</h4>
        </div>

        <div class="info-panel">
          <div class="row padding-top-mini">
            <div class="col-md-12">
              <img class="img-responsive" src="assets/img/workers/paiement.JPG" alt="">
            </div>
          </div>


        </div>

      </div>
      <!-- End Content Text-->
    </div>
  </section>
</div>

