<div id="layout">


  <!-- Section Title -->
  <div class="section-title"
       style="background:url(assets/img/champ_arabe/sportetsante.jpg); width: 1500px; height: 500px ">
    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ">
          <h1>ATHLE SANTE</h1>
        </div>

        <div class="col-md-4">
          <div class="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Inner Page</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Section Title -->
  <!-- Dark Home -->
  <div class="col-xl-10 mx-auto col-md-12" style="padding-bottom: 200px">
    <!-- Nav Tabs -->
    <ul class="nav nav-tabs" id="myTab">

      <li class="current"><a href="#preambule1" data-toggle="tab">ATHLE SANTE</a></li>
      <li><a href="#preambule2" data-toggle="tab">ACTIVITES</a></li>
      <li><a href="#preambule3" data-toggle="tab">SANTE ET NUTRITION</a></li>
      <li><a href="#preambule4" data-toggle="tab">PREVENTIONS</a></li>
      <li><a href="#preambule5" data-toggle="tab">CLUBS ADHERANTS</a></li>
      <li><a href="#preambule6" data-toggle="tab">INSCRIPTION</a></li>
    </ul>
    <!-- End Nav Tabs -->

    <!-- Content Tabs -->
    <div class="tab-content">
      <!-- Tab One - Description -->
      <div class="tab-pane active" id="preambule1">
        <div class="row">
          <div class="col-md-3">
            <img src="assets/img/workers/Capture.JPG" alt="" style="margin-top: 10px; height: 350px">
          </div>

          <div class="col-md-8">
            <br>
            <video width="800px" controls="controls" preload="auto" autoplay="true" loop>
              <source src="assets/img/champ_arabe/athlesante.mp4" type="video/mp4"/>
            </video>
            <p class="lead" style="color: #0d0d0d">Dans le cadre de promouvoir l’activité physique et sportive en
              tant
              qu’élément déterminant de santé physique, mentale et de bien-être, la Fédération Tunisienne
              d’Athlétisme,
              en collaboration avec le Ministère des affaires de la jeunesse et des sports,
              le Ministère de la santé et avec la Fédération Française d’Athlétisme, a élaboré un programme destiné
              essentiellement à améliorer l’état de santé de la population à travers les activités sportives.</p>
            <p class="lead" style="color: #0d0d0d"> Ce projet est intitulé : « Athlé-Santé ».</p>
            <p class="lead" style="color: #0d0d0d">Il vise à encourager la pratique d’une activité physique et
              sportive
              adaptée à tous les âges de manière
              régulière, durable et adaptée à lutter contre les comportements sédentaires de la vie quotidienne.</p>
            <p class="lead" style="color: #0d0d0d">
              Selon l’organisation mondiale de la santé (OMS), l’inactivité physique est la première cause de
              mortalité
              évitable .Elle est responsable de plus de 5 millions de décès par an dans le monde. A l’inverse
              l’activité
              physique et sportive régulière diminue le risque de décès précoce de 30%.</p>
            <p class="lead" style="color: #0d0d0d">
              Le sport-santé est un facteur déterminant d’équilibre physique et mentale et en même temps de
              bien-être de
              l’individu, voire de prévention et de contrôle de certains cas de maladies chroniques.
              Conscient de l’importance du sport en tant que facteur d’éducation, de santé et de développement
              durable,
              la Tunisie depuis longtemps a pris mesures pour que le sport soit une priorité.</p>
            <p class="lead" style="color: #0d0d0d">En effet, la loi N° 94-104
              du 03 août 1994 portant organisation et développement de l’éducation physique et des activités
              sportives,
              prévoit dans son article premier que « l'éducation physique et les activités sportives sont deux
              facteurs
              essentiels pour le développement de l'individu tant sur les plans de la santé physique, mentale que
              morale. Ils contribuent à l'édification de la société, à la complémentarité entre les individus qui la
              composent, à l'enrichissement du tissu associatif, au rapprochement entre les peuples et au
              renforcement
              de la solidarité et de l'amitié entre eux ». Egalement l’article 43 de la Constitution Tunisienne du
              27
              janvier 2014 stipule que « l’État encourage le sport et s’emploie à fournir les moyens nécessaires à
              l’exercice des activités sportives et de loisir »</p>
            <p class="lead" style="color: #0d0d0d">
              C’est dans ce contexte que la Fédération Tunisienne d’Athlétisme (FTA) propose le projet « Athlé-Santé
              »
              qui est destiné à tous ceux qui cherchent un certain épanouissement physique, mental et social dans un
              cadre qui favorise le bien-être et le Plaisir à travers le sport.
              Le projet comprend un certain nombre d’activités et offre par conséquent la possibilité aux adhérents
              de
              choisir le type d’activité qui lui convient le plus. Ces activités sont la marche, la remise en forme,
              la
              condition physique et le running.</p>
            <p class="lead" style="color: #0d0d0d">
              Pour encadrer ces pratiques en les adaptant aux attentes et aux capacités de chacun, la FTA forme des
              professionnels de l’athlé-santé ; le “coach athlé santé”. Ce sont, surtout, les jeunes diplômés des
              instituts supérieurs des sports en Tunisie qui ont subie avec succès une formation spécifique.
            </p>
          </div>

        </div>
      </div>
      <!-- end Tab One - Description -->
      <!-- Tab Theree - Course -->

      <div class="tab-pane" id="preambule2"
           style="background:url(assets/img/champ_arabe/wpo.jpg);background-repeat: repeat-x">
        <section class="content-info">
          <div class=" paddings-mini">
            <div class="row container">
              <br><br><br><br><br><br><br>
              <div class="col-lg-10 container">
                <br><br><br><br><br><br><br><br>
                <h3 class="clear-title"><strong>ACTIVITES</strong></h3>
              </div>
            </div>
          </div>
          <!-- Document links -->
          <div class="container col-lg-8">

            <div class="list-group  ">
              <a routerLink="/Projet" class="list-group-item list-group-item-action "
                 STYLE="color: #d52f37;font-size: 20px">MARCHE</a>
              <a routerLink="/Programme" class="list-group-item list-group-item-action "
                 STYLE="color: #d52f37;font-size: 20px">REMISE
                EN FORME</a>
              <a routerLink="/engagement-athle" class="list-group-item list-group-item-action "
                 STYLE="color: #d52f37;font-size: 20px">CONDITION
                PHYSIQUE</a>
              <a routerLink="/running" class="list-group-item list-group-item-action "
                 STYLE="color: #d52f37;font-size: 20px">RUNNING</a>
              <a routerLink="/conseils" class="list-group-item list-group-item-action "
                 STYLE="color: #d52f37;font-size: 20px">CONSEILS</a>
            </div>

          </div>
          <!-- Document Links End -->

          <br>
          <br>
          <br>

        </section>
      </div>
      <!-- End Tab One - Course -->
      <!-- Tab One - Masters -->
      <div class="tab-pane" id="preambule3">
        <section class="content-info">

          <div class="container paddings-mini">
            <!-- Content Text-->
            <div class="panel-box padding-b">
              <div class="titles">
                <h4><strong>SANTE ET NUTRITION</strong></h4>
              </div>

              <div class="info-panel">
                <div class="row">
                  <div class="col-md-12">


                    <p style="font-size: 15px"><strong>La nutrition est en liaison direct avec l'alimentation, qui sert
                      à couvrir les besoins
                      nutritionnels de
                      l'organisme humain. Il est nécessaire d'avoir une bonne alimentation pour rester en bonne santé et
                      à
                      l'inverse, une mauvaise alimentation peut entraîner une productivité et une immunité réduites, une
                      vulnérabilité accrue à la maladie et un développement physique et mental perturbé. La nutrition a
                      des
                      conséquences sur le développement du corps à tous les stades de la vie, de la conception jusqu'à
                      la
                      mort.</strong></p>
                  </div>
                </div>

                <div class="row padding-top-mini">
                  <div class="col-md-4">
                    <img class="img-responsive" src="assets/img/champ_arabe/sante-publique-programme.jpg"
                         height="1500px">
                  </div>
                  <div class="col-md-8">
                    <p style="font-size: 15px"><strong>L'avantage de la marche réside dans le fait que c'est un sport
                      sans aucune
                      contrainte:</strong></p>
                    <ul style="font-size: 15px">
                      Manger sainement n'est pas toujours facile, mais s'engager à suivre une alimentation saine peut
                      être
                      l'une des décisions les plus sages que l’adhérant peut prendre pour vivre mieux et en bonne santé.
                      <br>Une
                      alimentation saine et équilibrée tous les jours apporte les aliments nécessaires dont le corps a
                      besoin
                      pour garder les os, les organes et les muscles en forme optimale.
                      <br>Ces nutriments comprennent les graisses, les glucides, les protéines, les vitamines et les
                      minéraux.<br>
                      Une alimentation saine peut également aider le pratiquant à maintenir un poids santé, à stimuler
                      sa santé cardiaque, à prévenir le
                      diabète et à améliorer sa fonction cérébrale.
                      <br>Le régime alimentaire pour maigrir a de nombreux bienfaits sur la santé : d’abord, il tient
                      compte
                      du
                      concept de densité énergétique des aliments.
                      <br>Ensuite, il permet de perdre du poids sans sensation de faim, sans frustration ni fatigue.
                      Puis, ce régime n'exige pas de contrôle excessif de la quantité
                      d'aliments consommée et ne nécessite pas de calculs de calories.
                      <br>Enfin, il apprend à la personne qui
                      désire perdre du poids à cesser de manger naturellement lorsque elle n’as plus faim. Autrement
                      dit, la
                      règle importante de ce régime alimentaire est de manger seulement lorsque la personne qui suit ce
                      régime
                      a faim et d’arrêter dès qu’elle sente rassasié. Or, pour la santé, on considère que la perte de
                      poids ne
                      doit pas dépasser 1kg par semaine.
                    </ul>
                  </div>
                </div>


              </div>

            </div>
            <!-- End Content Text-->
          </div>
        </section>
      </div>
      <!-- End Tab One - Masters -->
      <div class="tab-pane" id="preambule4">
        <section class="content-info">

          <div class="container paddings-mini">
            <!-- Content Text-->
            <div class="panel-box padding-b">
              <div class="titles">
                <h4><strong>PREVENTIONS</strong></h4>
              </div>

              <div class="info-panel">
                <div class="row">
                  <div class="col-md-12">


                    <p style="font-size: 15px"><strong>Avec la mise en œuvre de la décision du gouvernement tunisien
                      concernant le déconfinement progressifà compter du 4 mai 2020, les praticiens de l'athlétisme, de
                      la santé
                      et les runneurs peuvent reprendre leurs activités avec prudence selon les régions géographiques en
                      tenant
                      compte de nombreuses mesures sanitaires.</strong></p>
                  </div>
                </div>

                <div class="row padding-top-mini">
                  <div class="col-md-4">
                    <img class="img-responsive" src="assets/img/champ_arabe/covid.jpg" alt="">
                  </div>
                  <div class="col-md-8">
                    <p style="font-size: 15px"><strong>Dans ce contexte, la Fédération Tunisienne d'Athlétisme propose
                      des recommandations importantes dans le cadre dudéconfinement.</strong></p>
                    <ul style="font-size: 15px">
                      Les activités sportives en Tunisie sont à l’arrêt depuis le 17 mars 2020 en raison de la
                      propagation de la
                      pandémie du Covid-19. <br>Le ministère de la jeunesse et des sportsa annoncé dans un communiqué,
                      que
                      la
                      reprise des activités sportives et des activités commerciales relatives au sport, aux loisirs et à
                      l’animation des jeunes, se feront lors de la stratégie du gouvernement de la levée progressive du
                      confinement, soit à partir du 24 juin 2020, conformément au décret-loi n°208 du 28mai 2020, fixant
                      les
                      dispositions du confinement sanitaire ciblé.
                    </ul>
                  </div>
                </div>


              </div>

            </div>
            <!-- End Content Text-->
          </div>
        </section>
      </div>
      <div class="tab-pane" id="preambule5">
        <section class="content-info">

          <div class="container paddings-mini">
            <!-- Content Text-->
            <div class="panel-box padding-b">
              <div class="titles">
                <h4><strong>CLUBS ADHERANTS</strong></h4>
              </div>

              <div class="info-panel">
                <div class="row">
                  <div class="col-md-12">
                    <p style="font-size: 15px">Tous les clubs affiliés à la fédération tunisienne d’athlétisme
                      peuvent adhérer à ce projet à condition de remplir les conditions exigées dans le cahier des
                      charges et avoir une validation finale de la commission nationale de l’athlé-santé de la
                      FTA.</p>
                  </div>
                  <div class="container" align="center">
                    <div class="col-md-8">
                        <h4 style="color: #d52f37">CAHIER DES CHARGES DES CLUBS</h4>
                        <a style="color: #d52f37" href="assets/img/certificat.pdf" download>Télécharger une copie</a>
                    </div>
                  </div>
                </div>


              </div>

            </div>
            <!-- End Content Text-->
          </div>
        </section>
      </div>
      <div class="tab-pane" id="preambule6"
           style="background:url(assets/img/champ_arabe/wpo.jpg);background-repeat: repeat-x">
        <section class="content-info">
          <div class=" paddings-mini">
            <div class="row container">
              <br><br><br><br><br><br><br>
              <div class="col-lg-10 container">
                <br><br><br><br><br><br><br><br>
                <h3 class="clear-title"><strong>INSCRIPTION</strong></h3>
              </div>
            </div>
          </div>
          <!-- Document links -->
          <div class="container col-lg-8">
            <div class="list-group  ">
              <a routerLink="/formulaire-adhesion" class="list-group-item list-group-item-action "
                 STYLE="color: #d52f37;font-size: 20px">FORMULAIRE D’ADHESION</a>
              <a routerLink="/modalite-paiement" class="list-group-item list-group-item-action "
                 STYLE="color: #d52f37;font-size: 20px">MODALITES DE PAIEMENT</a>
              <a routerLink="/paiement" class="list-group-item list-group-item-action "
                 STYLE="color: #d52f37;font-size: 20px">PAIEMENT EN LIGNE</a>
            </div>

          </div>
          <!-- Document Links End -->

          <br>
          <br>
          <br>

        </section>
      </div>
    </div>
  </div>
</div>

<!-- Left Content - Tabs and Carousel -->



